api/.venv
api/.venv/**
**/.venv
**/.venv/**
docker/volumes
docker/volumes/**
.codex
.codex/**
node_modules
node_modules/**
**/node_modules
**/node_modules/**
node_modules/.pnpm
node_modules/.pnpm/**
**/node_modules/.pnpm
**/node_modules/.pnpm/**
.pnpm-store
.pnpm-store/**
**/.pnpm-store
**/.pnpm-store/**
